@media screen and (max-width: 1199px) {
    
}

@media screen and (max-width: 991px) {
    
}

@media screen and (max-width: 767px) {
    .wrap {
        margin: 50px 0 0 0;
    }
    .wrap .sidebar {
        width: 0;
        opacity: 0;
    }
    .top_block .add_check {
        width: 100%;
        margin: 10px 0 0 0;
    }
    header .left_block {
        width: 100%;
    }
    .categorys_table .item_title {
        overflow: hidden;
    }
}
@media screen and (max-width: 590px) {
    
}
@media screen and (max-width: 450px) {
   
}

@media screen and (max-width: 400px) {
   
}
@media screen and (max-width: 350px) {
   
}