@media screen and (max-width: 1199px) {
    
}

@media screen and (max-width: 991px) {
    
}

@media screen and (max-width: 767px) {
    .xs_block {
        display: block;
        width: 100%;
        height: 50px;
        margin: 0 0 5px 0;
    }
    .wrap {
        margin: 50px 0 0 0;
    }
    .wrap .sidebar {
        width: 0;
        opacity: 0;
    }
    .top_block .add_check {
        width: 100%;
        margin: 10px 0 0 0;
    }
    header .left_block {
        width: 100%;
    }
    .categorys_table .item_title {
        overflow: hidden;
    }

    .last_check .item .name {
        width: auto;
    }
    .last_check .item .price {
        float: right;
    }
    .last_check .item .data {
        position: absolute;
        right: 15px;
        background: #fff;
        opacity: 0;
        transition: 0.2s;
    }
    .last_check .item.active .data {
        opacity: 1;
    }
    .form_add_check .btn {
        width: 100%;
        height: 50px;
        margin: 0 0 5px 0;
    }
}
@media screen and (max-width: 590px) {
    
}
@media screen and (max-width: 450px) {
   
}

@media screen and (max-width: 400px) {
   
}
@media screen and (max-width: 350px) {
   
}